/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container-big{
    margin: 0 auto;
}

/* Utility */

/* Color-text */
.text-black{
    color: black;
}

.text-grey{
    color: gray;
}

.text-white{
    color: white;
}

.text-bordeaux{
    color: #61082b;
}

/* Color-background */
.bg-blue{
    background-color: #0061ff;
}

.bg-black{
    background-color: black;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-white{
    background-color: #fff;
}

/* Text-decoration */

.decoration-none{
    text-decoration: none;
}

/* Col-size */

.col-50{
    width: calc(100% / 2);
}

/* Start top bar 1 */

.top-bar{
    height: 80px;
    line-height: 80px;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
}

.top-bar .col-left ul{
    display: inline-block;
}

.top-bar .col-left ul li{
    display: inline-block;
    list-style:none;
}

.top-bar .col-left ul li a{
    padding: 0 20px;
}

/* Start top bar 2 */

.col-right{
    text-align: right;
    padding-right: 20px;
}

.top-bar .col-right ul{
    display: inline-block;
}

.top-bar .col-right ul li{
    display: inline-block;
    list-style:none;
}

.top-bar .col-right ul li a{
    padding: 0 20px;
}

.top-bar .col-right ul li a:last-child{
    padding: 5px 15px;
}

/* Start main bar */

.main-bar{
    height: 700px;
}