/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container-big{
    margin: 0 auto;
}

.container-small{
    max-width: 1200px;
    margin: 0 auto;
}

/* Utility */

/* Color-text */
.text-black{
    color: black;
}

.text-grey{
    color: gray;
}

.text-white{
    color: white;
}

.text-bordeaux{
    color: #61082b;
}

/* Color-background */
.bg-blue{
    background-color: #0061ff;
}

.bg-black{
    background-color: black;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-white{
    background-color: #fff;
}

/* Text-decoration */

.decoration-none{
    text-decoration: none;
}

/* Border gray */
.border-gray{
    border: 1px solid #d0d0d3;
}

/* Header column */
.headerfirst-part{
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
}

/* HR */
.orizontal{
    width: 20%;
    margin: 50px 0;
}

/* Free trial button in column */
.free-trial{
    margin-top: 50px;
}

/* Col-size */

.col-70{
    width: 70%;
}

.col-60{
    width: 60%;
}

.col-50{
    width: 50%;
}

.col-40{
    width: 40%;
}

.col-30{
    width: 30%;
}

.col-25{
    width: 25%;
}

/* Utility end */

/* Start top bar 1 */

.top-bar{
    height: 80px;
    line-height: 80px;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
}

.top-bar .col-left ul{
    display: inline-block;
}

.top-bar .col-left ul li{
    display: inline-block;
    list-style:none;
}

.top-bar .col-left ul li:hover{
    border-bottom: 3px solid grey;
}

.top-bar .col-left ul li a{
    padding: 0 20px;
    font-weight: 600;
}

/* Start top bar 2 */

.col-right{
    text-align: right;
    padding-right: 20px;
}

.top-bar .col-right ul{
    display: inline-block;
}

.top-bar .col-right ul li{
    display: inline-block;
    list-style:none;
}

.top-bar .col-right ul li:hover{
    border-bottom: 3px solid grey;
}

.top-bar .col-right ul li a{
    padding: 0 20px;
    font-weight: 600;
}

.top-bar .col-right ul li a:last-child{
    padding: 5px 15px;
}

/* Start main bar */

.main-bar{
    height: 800px;
    padding-top: 100px;
}

.main-bar .box{
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.main-bar .box .text h1{
    font-size: 90px;
    font-weight: bold;
}

.main-bar .box .col-30 p{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.main-bar .box .col-30 a{
    padding: 5px 15px;
}

.main-bar .box .col-30 i{
    animation: move 1s infinite;
}

@keyframes move {
    from{
        transform: translateY(-50%);
    }
    to{
        transform: translateY(0); 
    }
}

.main-bar .box .col-30 h4{
    padding-top: 20px;
    padding-bottom: 40px;
}

.main-bar .box .col-70 img{
    width: 90%;
    padding-top: 20px;
    padding-left: 40px;
}



/* Start main */

.central-main h1{
    font-size: 40px;
    padding-bottom: 50px;
}

.central-main h3{
    font-size: 16px;
}

.central-main label{
    margin-right: 10px;
}

.central-main{
    margin-top: 150px;
}

.central-main .col.float{
    height: 1100px;
    margin-top: 50px;
}

.central-main .col-central{
    height: 900px;
    margin: 0 5%;
}

/* Content col */

.second-part{
    height: 100%;
    padding: 40px 20px;
}

.second-part .detail-plan{
    height: 500px;
    margin-bottom: 50px;
}

.second-part .detail-plan .description-plan{
    margin-bottom: 50px;
}

.second-part .detail-plan .function-plan{
    margin-bottom: 50px;
}

.second-part .detail-plan .function-plan ul li{
    list-style: none;
    padding: 10px 0;
}

.second-part .detail-plan .function-plan a{
    text-align: center;
    padding: 10px 65px;
}

/* Content col highlights */

.second-part .highlights ul li{
    list-style: none;
    padding: 10px 0;
}

.fas.fa-check{
    color: #0061ff;
}

/* second-main */

.second-main .contact{
    margin: 50px 0;
    border: 1px solid #d0d0d3;
}

.second-main .contact .col{
    padding: 20px 20px;
}

.second-main .contact .col p{
    padding-top: 40px;
    font-size: 13px;
    font-weight: 500;
}

.second-main .contact .col a{
    padding: 10px 80px;
}

/* third-main */

.third-main .col img{
    width: 90%;
}

.third-main .col.col-40{
    margin-top: 30px;
}

.third-main .col.col-40 a{
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: 600;
}

/* fourth-main */

.fourth-main{
    height: 1300px;
}

.fourth-main h1{
    font-size: 40px;
    padding: 50px 0;
}

.fourth-main p{
    font-weight: 600;
}

.fourth-main .row-1{
    height: 30%;
    margin-bottom: 150px;
}

.fourth-main .row-2{
    height: 70%;
    margin-bottom: 50px;
}

.fourth-main .row-1 .col img, .fourth-main .row-2 .col img{
    width: 100%;    
}

.fourth-main .row-1 .col-central, .fourth-main .row-2 .col-central{
    margin: 0 5%;
}

/* fifth-main */

.fifth-main{
    margin-top: 50px;
}

.fifth-main h1{
    font-size: 40px;
    padding-bottom: 20px;
}

/* Start Feedback central col-40 */

.container-big .feedback .col{
    height: 450px;
    margin-top: 50px;
}

.container-big .feedback .col.col-40{
    background-color: #f5f5f5;
    padding: 60px 40px;
}

.container-big .feedback .col.col-40 img{
    width: 30%;
}

.container-big .feedback .col.col-40 p{
    font-weight: 600;
}

/* Start Feedback col-30 */

.container-big .feedback .col.col-30{
    height: 450px;
}

.container-big .feedback .feedback-row{
    height: 50%;
}

.feedback-row .min-col{
    height: 100%;
    width: 50%;
    position: relative;
}

.feedback-row .min-col img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Set background color for min-col */
.border-color{
    background-color: #a2d39b;
    height: 100%;
}
.min-col.col-1{
    background-color: #d0e9cd;
    padding: 10px;
}
.min-col.col-2{
    background-color: #61082b;
}
.min-col.col-3{
    background-color: #0093ce;
}
.min-col.col-4{
    background-color: #ff1c1c;
}
.min-col.col-5{
    background-color: #d5001f;
}
.min-col.col-6{
    background-color: #b4d0e7;
}
.min-col.col-7{
    background-color: #0d2481;
}
.min-col.col-8{
    background-color: #ffd830;
}

/* Start section in feedback */

.container-big .feedback-section{
    height: 300px;
    padding-top: 120px;
}

.feedback-section .col-60{
    font-size: 30px;
    text-align: center;
}

.feedback-section .col-40 a{
    background-color: white;
    padding: 10px 60px;
}

/* Start FAQ in feedback */

.container-small .faq .col-main h2{
    font-size: 40px;
    padding: 70px 0;
}

.container-small .faq .row-faq{
    position: relative;
    margin: 30px 0;
    font-weight: 800;
    border-bottom: 1px solid #d0d0d3;
    height: 50px;
}

.container-small .faq .col .row-faq > i{
    position: absolute;
    right: 50px;
    top: 0;
}

/* Start footer */

footer{
    margin-top: 100px;
    background-color: #000;
    color: white;
}

footer .row-1-footer{
    padding: 50px 150px;
}

footer .row-1-footer .col-footer{
    margin-right: 80px;
}

footer .row-1-footer .col-footer h3{
    padding: 15px 0;
    font-size: 25px;
}

footer .row-1-footer .col-footer ul li{
    list-style: none;
    line-height: 25px;
}

footer .row-2-footer{
    padding: 50px 150px;
}

footer .row-2-footer hr{
    width: 100px;
}

footer .row-2-footer p{
    padding: 30px 0;
    color: grey;
    font-size: 13px;
}
