/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container-big{
    margin: 0 auto;
}

.container-small{
    max-width: 1200px;
    margin: 0 auto;
}

/* Utility */

/* Color-text */
.text-black{
    color: black;
}

.text-grey{
    color: gray;
}

.text-white{
    color: white;
}

.text-bordeaux{
    color: #61082b;
}

/* Color-background */
.bg-blue{
    background-color: #0061ff;
}

.bg-black{
    background-color: black;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-white{
    background-color: #fff;
}

/* Text-decoration */

.decoration-none{
    text-decoration: none;
}

/* Col-size */

.col-70{
    width: 70%;
}

.col-60{
    width: 60%;
}

.col-50{
    width: 50%;
}

.col-40{
    width: 40%;
}

.col-30{
    width: 30%;
}

/* Utility end */

/* Start top bar 1 */

.top-bar{
    height: 80px;
    line-height: 80px;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
}

.top-bar .col-left ul{
    display: inline-block;
}

.top-bar .col-left ul li{
    display: inline-block;
    list-style:none;
}

.top-bar .col-left ul li a{
    padding: 0 20px;
    font-weight: 600;
}

/* Start top bar 2 */

.col-right{
    text-align: right;
    padding-right: 20px;
}

.top-bar .col-right ul{
    display: inline-block;
}

.top-bar .col-right ul li{
    display: inline-block;
    list-style:none;
}

.top-bar .col-right ul li a{
    padding: 0 20px;
    font-weight: 600;
}

.top-bar .col-right ul li a:last-child{
    padding: 5px 15px;
}

/* Start main bar */

.main-bar{
    height: 800px;
    padding-top: 100px;
}

.main-bar .box{
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.main-bar .box .text h1{
    font-size: 90px;
    font-weight: bold;
}

.main-bar .box .col-30 p{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.main-bar .box .col-30 a{
    padding: 5px 15px;
}

.main-bar .box .col-30 h4{
    padding-top: 20px;
    padding-bottom: 40px;
}

.main-bar .box .col-70 img{
    width: 90%;
    padding-top: 20px;
    padding-left: 40px;
}

/* Start main */

.central-main h1{
    font-size: 40px;
    padding-bottom: 50px;
}

.central-main label{
    margin-right: 10px;
}

.central-main{
    margin-top: 150px;
}

.central-main .col.float{
    height: 900px;
    background-color: #0061ff;
    margin-top: 50px;
}

.central-main .col-central{
    height: 900px;
    margin: 0 5%;
}